
        body {
            background-color: #0f1923;
            color: #fff;
            font-family: Arial, Helvetica, sans-serif;
        }
        .pesquisaArma {
            margin-bottom: 20px;
            font-size: 24px;
            text-align: center;

        }

        .sobre-imagem mb-4{
            width: 50%;       /* ocupa toda a largura disponível */
            height: 50px;     /* altura menor, ajustável conforme preferir */
            object-fit: cover; /* mantém proporção e corta o excesso se necessário */
            border-radius: 5px; /* opcional: borda levemente arredondada */

        }
        .navbar {
            background-color: #1f2a35 !important;
        }

        .logoImagem {
            height: 45px;
        }

        #carouselAgentes img {
            height: 350px;
            object-fit: cover;
            border-radius: 10px;
        }

        .card-agente {
            transition: transform .2s;
            cursor: pointer;
        }

        .card-agente:hover {
            transform: scale(1.05);
        }

        footer {
            margin-top: 50px;
            padding: 15px 0;
            text-align: center;
            background-color: #1f2a35;
        }