.conteudo{
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

header{
    text-align: center;
    padding: 10px 0;
    background-color: #4CAF50;
    color: white;
}

